/* LAYOUT GERAL*/
.secao-pet {
  background-color: var(--cor-fundo-claro);
  padding-bottom: 5em;
  padding-top: 2em;
}
.detalhe-pet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--espaco-4);
  align-items: start;
}
/* IMAGEM */
.pet-imagem img {
  width: 100%;
  height: auto;
  border-radius: var(--raio-grande);
}
/* INFORMAÇÕES  */
.pet-info {
  display: flex;
  flex-direction: column;
  gap: var(--espaco-2);
}
.descricao {
  font-size: 1.05rem;
  font-weight: 900;
  color: var(--cor-texto-suave);
  margin: auto;
}
/* Lista organizada */
.lista-info {
  list-style: none;
  padding: 0;
}
.lista-info li {
  padding: 0.8rem 0;
  border-bottom: 1px solid var(--cor-borda);
  font-size: 0.95rem;
}
/*  BOTÃO */
.acao-adocao {
  margin-top: var(--espaco-3);
  margin: auto;
}
/*  RESPONSIVO  */
@media (max-width: 768px) {
  .detalhe-pet {
    grid-template-columns: 1fr;
  }
}