<div class="form-container">
  <div class="form-image">
    <h2>Registo</h2>
    <img src="https://images.unsplash.com/photo-1618814422919-d9f6d8c213c7" alt="Cão feliz para adoção" />
    <h3>Encontre seu novo melhor amigo.</h3>
    <p>Milhares de cães e gatos esperam por um lar. A jornada começa aqui.</p>
  </div>


<div *ngIf="mensagemSucesso" class="msg-sucesso">{{ mensagemSucesso }}</div>
<div *ngIf="mensagemErro" class="msg-erro">{{ mensagemErro }}</div>

<form [formGroup]="formRegisto">

  <label>Nome:</label>
  <input type="text" formControlName="nome">
  <p *ngIf="formRegisto.get('nome')?.touched && formRegisto.get('nome')?.hasError('required')" class="erro">
    Nome é obrigatório.
  </p> <br>

  <label>E-mail:</label>
  <input type="email" formControlName="email">
  <p *ngIf="formRegisto.get('email')?.touched && formRegisto.get('email')?.hasError('email')" class="erro">
    E-mail inválido.
  </p><br>

  <label>Senha:</label>
  <input type="password" formControlName="senha"> <br>

  <label>Confirmar Senha:</label>
  <input type="password" formControlName="confirmaSenha"> <br>

  <button type="button" (click)="registrar()">Registar</button>

</form>
<p>Já tem conta?  <a routerLink="/login">Login</a></p>

</div>