<app-header></app-header>
<div class="form-container">
  <div class="form-image">
    <h2>Crie sua conta</h2>
     <h3>Encontre seu novo melhor amigo.</h3>
  </div>


<div *ngIf="mensagemSucesso" class="msg-sucesso">{{ mensagemSucesso }}</div>
<div *ngIf="mensagemErro" class="msg-erro">{{ mensagemErro }}</div>

<form [formGroup]="formRegisto">

  <label>Nome:</label>
  <input type="text" formControlName="nome">
  <p *ngIf="formRegisto.get('nome')?.touched && formRegisto.get('nome')?.hasError('required')" class="erro">
    Nome é obrigatório.
  </p>

  <label>E-mail:</label>
  <input type="email" formControlName="email">
  <p *ngIf="formRegisto.get('email')?.touched && formRegisto.get('email')?.hasError('email')" class="erro">
    E-mail inválido.
  </p>

  <label>Senha:</label>
  <input type="password" formControlName="senha">

  <label>Confirmar Senha:</label>
  <input type="password" formControlName="confirmaSenha">

  <button type="button" (click)="registrar()">Registar</button>

  <p>Já tem conta?  <a routerLink="/login">Login</a></p>
</form>

</div>