

body {
  background: #300057;
  color: #111;
}

/* HEADER */
header {
  background: #fff;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  max-width: 1200px;
  margin: 20px auto;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
}

/* LOGO */
.logo {
  font-size: 28px;
}

/* MENU */
nav {
  display: flex;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: #2e2e2e;
  font-weight: 600;
  font-size: 15px;
  position: relative;
}

nav a:hover {
  color:  #ff6f61;
}


/* bot達o login */
button {
  background: #00000000;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
/* Remove estilos padr達o do link dentro do bot達o */
button a.btn-login {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* Bot達o principal */
button {
  background: var(--cor-primaria);
  color: white;
  border: none;
  padding: 0.6rem 1.4rem;
  border-radius: var(--raio-medio);
  cursor: pointer;
  transition: 0.25s ease;
  font-size: 1rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Hover */
button:hover {
  background: var(--cor-primaria-hover);
  transform: translateY(-2px);
}

/* Estado de clique */
button:active {
  transform: scale(0.97);
}

/* Garantir tamanho consistente no link */
button a {
  display: inline-block;
}
