
<header class="header">
  <div class="logo">Patinhas</div>

  <nav class="menu">
    <a routerLink="/home">Início</a>
    <a routerLink="/listaPets">Pets</a>
    <a routerLink="/sobreNos">Sobre</a>
    <a routerLink="/contacto">Contacto</a>
  </nav>
  
  <div *ngIf="utilizadorNome">
  <p *ngIf="utilizadorRole === 'admin'">Perfil: {{ utilizadorRole }}</p>
  </div>
  
  <button><a routerLink="/login" *ngIf="!utilizadorNome" (click)="logout()" class="btn-login">Login / Sign Up</a></button>
  
  <a routerLink="/perfil" *ngIf="utilizadorNome">Perfil</a>
  <a routerLink="/admin"  *ngIf="utilizadorRole === 'admin'">Admin</a>
</header>
