<header class="header">
  <div class="logo">Patinhas</div>

  <nav class="menu">
    <a routerLink="/home">Início</a>
    <a routerLink="/listaPets">Pets</a>
    <a routerLink="/sobreNos">Sobre</a>
    <a routerLink="/contacto">Contacto</a>
  </nav>
  
  <div *ngIf="utilizadorNome">
    <p>Olá, {{ utilizadorNome }}!</p>
    <p *ngIf="utilizadorRole === 'admin'">Perfil: {{ utilizadorRole }}</p>
  </div>
  
  <button><a routerLink="/login">Login / Sign Up</a></button>
  <a routerLink="/perfil">Perfil</a>
</header>


<nav>
<br>

  <!-- PAGES -->
  <a routerLink="/admin">Admin</a>
  <a routerLink="/crud-pets">crud-pets</a>


</nav>

<br> <br>