

body {
  font-family: Arial, sans-serif;
  background: #300057;
  color: #111;
}

/* HEADER */
header {
  background: #fff;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  max-width: 1200px;
  margin: 20px auto;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
}

/* LOGO */
.logo {
  font-size: 28px;
}

/* MENU */
nav {
  display: flex;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: #2e2e2e;
  font-weight: 600;
  font-size: 15px;
  position: relative;
}

nav a:hover {
  color: #c27501;
}


/* botão login */
button {
  background: #00000000;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
