.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--espaco-2) var(--espaco-3);
  background-color: var(--cor-fundo-principal);
  box-shadow: var(--sombra-leve);
  flex-wrap: wrap;
  border-radius: 1rem;
   position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--cor-primaria);
}

.menu a {
  margin-right: var(--espaco-2);
  text-decoration: none;
  color: var(--cor-texto-principal);
  font-weight: 500;
}

.menu a:hover {
  color: var(--cor-primaria);
}

.user-area {
  display: flex;
  align-items: center;
}

.user-menu{
  display: flex;
  align-items: center;
  gap: var(--espaco-2);
}

.user-name {
  font-weight: 500;
  color: var(--cor-texto-suave);
}
.perfil{
 font-weight: 600;
  color: var(--cor-destaque);
  text-decoration: none;
}
.perfil:hover{
  color: (--cor-primaria-hover);
  text-decoration: underline;
}

.btn-login,
.btn-logout {
  padding: var(--espaco-1) var(--espaco-2);
  border-radius: var(--raio-pequeno);
  border: none;
  cursor: pointer;
  background-color: var(--cor-primaria);
  color: white;
  text-decoration: none;
}

.btn-login:hover,
.btn-logout:hover {
  background-color: var(--cor-primaria-hover);
}

.admin-link{
  font-weight: 600;
  color: var(--cor-destaque);
  text-decoration: none;
}
.admin-link:hover{
  color: (--cor-primaria-hover);
  text-decoration: underline;
}
