.login-formulario{
    height: 50vh;
    width: 40%;
    margin: auto;
    padding-top: 5rem;
}
/* Botão */
button {
  border: none;
  background:rgb(26, 133, 26);
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: rgb(22, 151, 33);
}
