<app-header></app-header>
<!-- BANNER -->
<section class="banner-contato texto-centro">
  <div class="conteiner banner-conteudo">
    <img
      src="#"
      alt="Ícone cachorro"
      class="icone-banner"
    />
    <h1>Contate-nos</h1>
  </div>
</section>

<!-- FALE CONOSCO -->
<section class="fale-conosco">
  <div class="conteiner conteudo-fale">

<h2>Contacte-nos</h2>
    <p>
    Agradecemos o seu interesse em entrar em contacto. Caso necessite
    de esclarecimentos adicionais, pretenda apresentar uma sugestão ou obter
    mais informações sobre o nosso trabalho de adoção responsável, solicitamos
    que nos contacte. Teremos todo o gosto em responder com a maior brevidade
    possível.
    </p>

  </div>
</section>

<!-- TELEFONES -->
<section class="secao-telefones">
  <div class="conteiner texto-centro">

    <div class="icone-telefone mb-2">
      <img src="#"  />
    </div>

    <h2>NÚMEROS DE TELEFONE</h2>
    <p>Somente via WhatsApp, chamadas a partir das 10h.</p>

    <div class="lista-telefones mt-3">

      <div class="cartao cartao-telefone">
        <h3>Liliana</h3>
        <span>(Adoções e informações úteis)</span>
        <strong>0000-0000</strong>
      </div>

      <div class="cartao cartao-telefone">
        <h3>Bruna</h3>
        <span>(Receção ao público e loja de artigos solidários)</span>
        <strong>0111-0111</strong>
      </div>

      <div class="cartao cartao-telefone">
        <h3>Lúcio</h3>
        <span>(Informações e candidatura ao voluntariado)</span>
        <strong>2222-0000</strong>
      </div>

    </div>

    

  </div>
</section>



<!-- MAPA -->
<section class="secao-mapa">
  <div class="conteiner">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227783.44909709267!2d-8.78641641518199!3d41.16207258814011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2465abc4e153c1%3A0xa648d95640b114bc!2sPorto!5e1!3m2!1spt-PT!2spt!4v1765576411098!5m2!1spt-PT!2spt"
      width="100%"
      height="400"
      allowfullscreen
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</section>
