.sobre-container {
 
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}
h2{
  text-align: center;
  margin-bottom: 5rem;
 
}
.conteudo {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.imagem img {
  width: 350px;
  max-width: 100%;
  border-radius: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.texto {
  max-width: 500px;
}

.texto h2 {
  font-size: 2rem;
   color: #ff6f61;
  margin-bottom: 1rem;
}

.texto p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.depoimentos {
  margin-top: 2rem;
  padding: 4rem 2rem;
  background-color: #ff6e611e;
  text-align: center;
  font-family: Arial, sans-serif;
  border-radius: 15px;
}

.depoimentos h2 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 2rem;
}

.depoimento-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.depoimento-cards .card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 300px;
  font-size: 1rem;
  color: #333;
  position: relative;
}

.depoimento-cards .card p {
  font-style: italic;
  margin-bottom: 1rem;
}

.depoimento-cards .card span {
  font-weight: bold;
  color:#ff6f61;
  display: block;
  text-align: right;
}
.banner-sobre {
  height: 60vh;
  background: url("https://images.unsplash.com/photo-1568640347023-a616a30bc3bd?q=80&w=1173&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
              no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  color: white;
}

/* camada escura para destacar o texto */
.banner-sobre::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}
.banner-conteudo {
  position: relative;
  z-index: 2;
}
.banner-conteudo h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.banner-conteudo p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: auto;
}