<app-header></app-header>

<!-- BANNER -->
<section class="banner-sobre texto-centro">
  <div class="conteiner banner-conteudo">
   
    <h1>Sobre nós</h1>
  </div>
</section> <br> <br>

<section class="sobre-container">
  <div class="conteudo">
    <div class="imagem">
      <img src="https://images.unsplash.com/photo-1655780421943-be4199698b8a?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Gatinho resgatado">
    </div>

    <div class="texto">
      <h2>Quem Somos</h2>
      <p>
       Somos uma associação dedicada à proteção e bem-estar animal, empenhada em promover a adoção responsável e em proporcionar uma nova oportunidade a animais resgatados. A nossa atuação assenta em valores como o respeito, a responsabilidade e o compromisso com a vida animal.
       <br> 
      </p>
    </div>
  </div>

<section class="sobre-container">
  <div class="conteudo">
    <div class="texto">
      <h2>Nossa Missão</h2>
      <p>
        Trabalhamos diariamente para garantir que cada animal resgatado encontre
        uma família responsável e consciente. Defendemos práticas de adoção
        responsáveis e sensibilizamos a comunidade para a importância do respeito
        e proteção dos animais.
      </p>
    </div>
    <div class="imagem">
      <img src="https://images.pexels.com/photos/35158463/pexels-photo-35158463.jpeg" alt="Gatinho resgatado">
    </div>

  </div>

    <div class="depoimentos">
        <h2>Depoimentos de Adoção</h2>
        <div class="depoimento-cards">
        <div class="card">
            <p>
            "Adotar meu cachorro foi a melhor decisão que já tomei. Ele trouxe tanta alegria para minha vida!"
            </p>
            <span>- Maria S.</span>
        </div>
        <div class="card">
            <p>
            "O processo de adoção foi simples e a equipe foi muito atenciosa. Estou muito feliz com minha nova amiga felina."
            </p>
            <span>- João P.</span>
        </div>
        <div class="card">
            <p>
            “Adotar através desta associação foi uma experiência muito positiva. Todo o processo foi transparente e acompanhado com profissionalismo. Hoje, o nosso cão é um membro essencial da família.”
            </p>
            <span>- Ana L.</span>
        </div>
        </div>
