/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;

    /*Variáveis*/
    --fundo: rgb(223, 206, 206);
    --verde:rgb(149, 185, 143);
    --vermelho:rgb(179, 45, 28);
    --preto:rgb(0, 0, 0);
    
}


