<app-header></app-header>


<button [routerLink]="['/admin']" class="btn-admin">
  Painel do Administrador
</button>

<!-- MENSAGENS -->
<div *ngIf="mensagemSucesso" class="msg-sucesso">
  {{ mensagemSucesso }}
</div>

<div *ngIf="mensagemErro" class="msg-erro">
  {{ mensagemErro }}
</div>

<form [formGroup]="formCrudPets">
  
  <div class="cadastro">
    
    <h2>Ficha Animal </h2>


  <!-- PREVIEW DA IMAGEM SELECIONADA OU DO PET EDITADO -->
  <img *ngIf="previewImagem" [src]="previewImagem" class="preview">
  <!-- UPLOAD DA IMAGEM -->
  <label></label> <br>
  <input type="file" (change)="onFileSelected($event)" accept="image/*"> <br>


  <!--NOME-->
  <p class="requiredCampo"
   *ngIf="formCrudPets.get('nome')?.hasError('required') && formCrudPets.get('nome')?.touched">
      O nome é obrigatório.
  </p>
  <p class="requiredCampo"
     *ngIf="formCrudPets.get('nome')?.hasError('minlength') && formCrudPets.get('nome')?.touched">
      O nome precisa conter pelo menos 3 caracteres.
  </p>
  <input type="text" formControlName="nome" placeholder="Nome" class="input-forms"> <br>


  <!--IDADE-->
  <p class="requiredCampo"
     *ngIf="formCrudPets.get('idade')?.hasError('required') && formCrudPets.get('idade')?.touched">
      A idade é obrigatória.
  </p>
  <p class="requiredCampo"
     *ngIf="formCrudPets.get('idade')?.hasError('min') && formCrudPets.get('idade')?.touched">
      A idade deve ser maior ou igual a 0.
  </p>
  <p class="requiredCampo"
     *ngIf="formCrudPets.get('idade')?.hasError('max') && formCrudPets.get('idade')?.touched">
      A idade deve ser menor ou igual a 30.
  </p>
  <input type="number" formControlName="idade" placeholder="Idade" min="0" class="input-forms"> <br>


  <!--CIDADE-->
  <p class="requiredCampo"
     *ngIf="formCrudPets.get('cidade')?.hasError('required') && formCrudPets.get('cidade')?.touched">
      A cidade é obrigatória.
  </p>
  <p class="requiredCampo"
     *ngIf="formCrudPets.get('cidade')?.hasError('minlength') && formCrudPets.get('cidade')?.touched">
      A cidade precisa conter pelo menos 3 caracteres.
  </p>
  <p class="requiredCampo"
     *ngIf="formCrudPets.get('cidade')?.hasError('maxlength') && formCrudPets.get('cidade')?.touched">
      A cidade pode ter no máximo 30 caracteres.
  </p>
  <input type="text" formControlName="cidade" placeholder="Cidade" class="input-forms"> <br>


  <!-- DESCRIÇÃO -->
  <p class="requiredCampo"
     *ngIf="formCrudPets.get('descricao')?.hasError('required') && formCrudPets.get('descricao')?.touched">
      A descrição é obrigatória.
  </p>
  <p class="requiredCampo"
     *ngIf="formCrudPets.get('descricao')?.hasError('minlength') && formCrudPets.get('descricao')?.touched">
      A descrição deve ter pelo menos 10 caracteres.
  </p>
  <p class="requiredCampo"
     *ngIf="formCrudPets.get('descricao')?.hasError('maxlength') && formCrudPets.get('descricao')?.touched">
      A descrição pode ter no máximo 600 caracteres.
  </p>
  <input type="text" formControlName="descricao" placeholder="Descrição" class="input-forms"> <br>



  <!-- PESO -->
  <p class="requiredCampo"
     *ngIf="formCrudPets.get('peso')?.hasError('required') && formCrudPets.get('peso')?.touched">
      O peso é obrigatório.
  </p>
  <input type="number" formControlName="peso" placeholder="Peso (kg)" class="input-forms"> <br>


  <!-- RAÇA -->
  <p class="requiredCampo"
     *ngIf="formCrudPets.get('raca')?.hasError('required') && formCrudPets.get('raca')?.touched">
      A raça é obrigatória.
  </p>
  <input type="text" formControlName="raca" placeholder="Raça" class="input-forms"> <br><br>

    

    <!-- ESPÉCIE -->
    <label>Espécie:</label>
    <p class="requiredCampo"
    *ngIf="formCrudPets.get('especie')?.hasError('required') && formCrudPets.get('especie')?.touched">
    A espécie é obrigatória.
  </p>
  <select formControlName="especie">
    <option value="" disabled >Selecione</option>
    <option value="Cão">Cão</option>
    <option value="Gato">Gato</option>
  </select> <br>
  

<div class="opcaoBoleana">

  <div class="grupo-booleano">
    <p class="titulo-booleano">Vacinado(a)</p>

    <p class="requiredCampo"
      *ngIf="formCrudPets.get('vacinado')?.hasError('required') && formCrudPets.get('vacinado')?.touched">
      Informe se está vacinado.
    </p>

    <div class="radio-opcoes">
      <label><input type="radio" value="true" formControlName="vacinado"> Sim</label>
      <label><input type="radio" value="false" formControlName="vacinado"> Não</label>
    </div>
  </div>

  <div class="grupo-booleano">
    <p class="titulo-booleano">Castrado(a)</p>

    <p class="requiredCampo"
      *ngIf="formCrudPets.get('castrado')?.hasError('required') && formCrudPets.get('castrado')?.touched">
      Informe se está castrado.
    </p>

    <div class="radio-opcoes">
      <label><input type="radio" value="true" formControlName="castrado"> Sim</label>
      <label><input type="radio" value="false" formControlName="castrado"> Não</label>
    </div>
  </div>

</div>


  <!-- BOTÕES -->
  <br>
<div class="btn">

  @if (btnCadastrar) {
    <button type="button" value="cadastrar" (click)="cadastrar()" [disabled]="formCrudPets.invalid">Cadastrar</button>
  }
  @else {
    <button type="button" value="edita" (click)="editar()">Alterar</button> 
    <button type="button" value="remover" (click)="deletar()">Deletar</button>
    <button type="button" value="cancelar" (click)="cancelar()">Cancelar</button>
  }
</div>

  </div>
<br>
<div class="tabela">
  <!-- TABELA -->
  <br><br>
  <p>Informações</p>

  <table class="table-coluna">
    <thead>
      <tr>
        <th>#</th>
        <th>Imagem</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Cidade</th>
        <th>Descrição</th>
        <th>Peso (kg)</th>
        <th>Raça</th>
        <th>Vacinado</th>
        <th>Castrado</th>
        <th>Espécie</th>
        <th>Selecionar</th>
        
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let v of VetorPet; index as indice">
        <td>{{ indice + 1 }}</td>

        <!-- Mostrar imagem do pet -->
        <td>
          <img *ngIf="v.imageUrl" [src]="v.imageUrl" width="60" height="60" style="object-fit: cover;">
        </td>

  <td>{{ v.nome }}</td>
  <td>{{ v.idade }}</td>
  <td>{{ v.cidade }}</td>
  <td>{{ v.descricao }}</td>
  <td>{{ v.peso }}</td>
  <td>{{ v.raca }}</td>
  <td>{{ v.vacinado }}</td>
  <td>{{ v.castrado }}</td>
  <td>{{v.especie}}</td>
  
        <td class="btn-selecionar">
          <button (click)="selecionar(indice)">Selecionar</button>
        </td>
      </tr>
    </tbody>

  </table> <br><br><br>

</div>

</form>