.requiredCampo {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #996402;
    background: #ffeec0;
    padding: 5px 14px;
    border-radius: 6px;
    font-family: 'Segoe UI', sans-serif;
    margin: 6px 0;
    font-weight: 600;
  }
   
