/*  GERAL*/
.layout-pets {
  display: flex;
  gap: var(--espaco-4);
  align-items: flex-start; /* cresce conforme conteúdo */
}
/*  FILTROS (ESQUERDA)*/
.filtros {
  width: 280px;
  background-color: var(--cor-fundo-principal);
  padding: var(--espaco-3);
  border-radius: var(--raio-grande);
  box-shadow: var(--sombra-media);

  display: flex;
  flex-direction: column;
  gap: var(--espaco-2);
}
.filtros label {
  font-weight: 600;
}
.filtros select {
  padding: 0.5rem;
  border-radius: var(--raio-pequeno);
  border: 1px solid var(--cor-borda);
}
/* LISTAGEM (DIREITA)*/
.lista-pets {
  flex: 1;
  background-color: var(--cor-fundo-principal);
  padding: var(--espaco-3);
  border-radius: var(--raio-grande);
  box-shadow: var(--sombra-media);
}
/*  GRID DE PETS*/
.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--espaco-3);
}
/* CARD DO PET  */
.card {
  width: 220px;
  background-color: #fff;
  border-radius: var(--raio-grande);
  box-shadow: var(--sombra-leve);
  padding: var(--espaco-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card h3 {
  margin-bottom: var(--espaco-1);
}
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: var(--raio-medio);
  margin-bottom: var(--espaco-2);
}
.card button {
  margin-top: auto;
}
/* RESPONSIVO */
@media (max-width: 768px) {
  .layout-pets {
    flex-direction: column;
  }
  .filtros {
    width: 100%;
  }
}
/* Container dos cards */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--espaco-3);
  justify-content: flex-start;
}
/* Cada card ocupa 1/3 da linha */
.card {
  flex: 0 0 calc(33.333% - var(--espaco-3));
  max-width: calc(33.333% - var(--espaco-3));
}
/* RESPONSIVO */
/* 2 cards por linha */
@media (max-width: 1024px) {
  .card {
    flex: 1 1 calc(50% - var(--espaco-3));
    max-width: calc(50% - var(--espaco-3));
  }
}
/* 1 card por linha */
@media (max-width: 600px) {
  .card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

/*  PAGINAÇÃO */

.paginacao {
  display: flex;
  justify-content: center;               /* centraliza a paginação */
  align-items: center;
  gap: var(--espaco-2);                  /* espaço entre os elementos */
  margin-top: var(--espaco-4);
}

.paginacao button {
  padding: 1rem 2rem;
  border: none;
  border-radius: var(--raio-pequeno);
  background-color: var(--cor-primaria);
  color: var(--cor-fundo-principal);
  font-size: 0.9rem;
  cursor: pointer;
  box-shadow: var(--sombra-leve);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* efeito ao passar o mouse */
.paginacao button:hover {
  background-color: var(--cor-primaria-hover);
  transform: translateY(-1px);
}

/* botão desativado */
.paginacao button:disabled {
  background-color: var(--cor-borda);
  color: var(--cor-texto-suave);
  cursor: not-allowed;
  box-shadow: none;
}

/* texto da página atual */
.paginacao span {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--cor-texto-principal);
}
