<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-section">
      <h3 class="logo">🐾 PatinhasFelizes</h3>
      <p>Conectando corações, um resgate de cada vez.</p>
    </div>

    <div class="footer-section">
      <h4>LINKS RÁPIDOS</h4>
      <ul>
         <li><a routerLink="/">Início</a></li>
        <li><a routerLink="/listaPets">Adote</a></li>
        <li><a routerLink="/sobreNos">Sobre Nós</a></li>
        <li><a routerLink="/contacto">Contato</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>CONTATO</h4>
      <p>📍 Rua Exemplo, 123 - Cidade</p>
      <p>📞 (11) 98765-4321</p>
      <p>📧 contato&#64;patinhasfelizes.org</p>
    </div>

    <div class="footer-section">
      <h4>SIGA-NOS</h4>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook-f">Social media</i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i>social icon</a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    © 2024 PatinhasFelizes. Todos os direitos reservados.
  </div>
</footer>
