<footer class="footer">
  <div class="footer-container">

    <!-- Coluna 1 -->
    <div class="footer-col">
      <h2 class="logo"><span class="paw">Icon</span> Patinhas</h2>
      <p>
        Sed viverra eget fames sit varius. Pellentesque mattis libero viverra
        dictumst ornaresed justo convallis vitae
      </p>

      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-solid fa-x"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>

    <!-- Coluna 2 -->
    <div class="footer-col">
      <h3>Company</h3>
      <ul>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>

    <!-- Coluna 3 -->
    <div class="footer-col">
      <h3>Useful Links</h3>
      <ul>
        <li><a href="#">Login</a></li>
        <li><a href="#">Pets</a></li>
      </ul>
    </div>

    <!-- Coluna 4 -->
    <div class="footer-col">
      <h3>Customer Service</h3>
      <ul>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>

    <!-- Coluna 5 -->
    <div class="footer-col">
      <h3>E-mail us</h3>
      <p>0000 Rua Portugal<br>Porto, PT 0000</p>
      <p><strong>+351 000-000</strong></p>
      <p>patinhas-email.com</p>
    </div>

  </div>

  <div class="copyright">
    © Copyright Patinhas 2026
  </div>
</footer>

<!-- Importar Font Awesome para os ícones -->

